  <%= form_tag(pokemon_cards_url, method: :get, class: "row row-cols-lg-auto") do %>
    <div class="col-md-4">
      <%= search_field_tag(:q, params[:q], class: "form-control") %>
    </div>
    <%= button_tag("Search", class: "btn btn-primary") %>
  <% end %>
