<div class="cards-page">
  <div class="cards-grid">
    <% @cards&.each do |card| %>
      <div><%= link_to image_tag(card.images.small, alt: card, title: card), card %></div>
    <% end %>
  </div>
  <% if @pagy %>
    <div data-controller="pagy-initializer">
      <%== pagy_nav_js(@pagy) %>
    </div>
  <% end %>
</div>
